            // 每个主题特有的设置
            .theme-#{$theme-name} {
                .el-card {
                    .el-card__header {
                        border-bottom: $theme-container-border-outer;
                    }
                }
                // 背景图片和遮罩
                .app-wrapper {
                    background-color: $theme-bg-color;
                    .coframe-layout-header-aside-mask {
                        background: $theme-bg-mask;
                    }
                }
                // [菜单] 正常状态
                .el-menu {
                    .el-menu-item {
                        color: $theme-aside-item-color;
                        background: $theme-aside-item-background-color;
                        i.fa {
                            color: $theme-aside-item-color;
                        }
                        &:hover {
                            color: $theme-aside-item-color-hover;
                            fill: $theme-aside-item-color-hover;
                            background: $theme-aside-item-background-color-hover;
                            i.fa {
                                color: $theme-aside-item-color-hover;
                            }
                        }
                        &:focus {
                            color: $theme-aside-item-color-focus;
                            fill: $theme-aside-item-color-focus;
                            background: $theme-aside-item-background-color-focus;
                            i.fa {
                                color: $theme-aside-item-color-focus;
                            }
                        }
                        &.is-active {
                            color: $theme-aside-item-color-active;
                            fill: $theme-aside-item-color-active;
                            background: $theme-aside-item-background-color-active;
                            i.fa {
                                color: $theme-aside-item-color-active;
                            }
                        }
                    }
                }
                .el-submenu {
                    .el-submenu__title {
                        color: $theme-aside-item-color;
                        background: $theme-aside-item-background-color;
                        i.fa {
                            color: $theme-aside-item-color;
                        }
                        .el-submenu__icon-arrow {
                            color: $theme-aside-item-color;
                        }
                        &:hover {
                            color: $theme-aside-item-color-hover;
                            background: $theme-aside-item-background-color-hover;
                            i.fa {
                                color: $theme-aside-item-color-hover;
                            }
                            .el-submenu__icon-arrow {
                                color: $theme-aside-item-color-hover;
                            }
                        }
                    }
                }
                //头部标题
                .sidebar-logo-container {
                    .sidebar-title {
                        color: $theme-aside-item-color;
                    }
                }
                .navbar i {
                    display: inline-block;
                    width: 16px;
                    text-align: center;
                    margin-right: 5px;
                    color: $theme-aside-item-color;
                }
                .navbar i.fa {
                    font-size: 20px;
                }
                .navbar .avatar-container .user-name {
                    color: $theme-aside-item-color;
                }
                // 设置菜单折叠的图标位置
                .el-menu--collapse .menu-wrapper {
                    text-align: center;
                }
                // 设置面包屑屑字体颜色
                .app-breadcrumb.el-breadcrumb {
                    .no-redirect {
                        color: $theme-aside-item-color;
                    }
                    .el-breadcrumb__inner {
                        color: $theme-aside-item-color;
                    }
                }
            }